.header {
    padding: 30px 0 30px;
    &--home {
        padding-bottom: 120px;
        background-color: var(--theme-black);
    }
    &--default {
        background-color: var(--theme-orange);
    }
    &__container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        max-width: 722px;
        margin: 0 auto;
    }
    &__link-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 110px;
        padding-bottom: 7.5px;
        border-radius: 12px;
    }
    &__icon {
        display: block;
        margin: 15px 0;
        &--skull {
            width: 80px;
            height: 80px;
            margin: unset;
        }
    }
    &__page-link {
        font-family: Raleway;
        text-decoration: none;
        color: var(--theme-white);
    }
    .shadow-active {
        box-shadow: 0px 0px 8px #FF981B;
    }
}