.header {
    background-color: var(--theme-black);
    padding: 90px 0 120px;
    &__container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        max-width: 510px;
        margin: 0 auto;
    }
    &__link-container {
        text-align: center;
    }
    &__icon {
        display: block;
        margin: 15px 0;
        &--skull {
            width: 80px;
            height: 80px;
            margin: unset;
        }
    }
    &__page-link {
        font-family: Raleway;
        text-decoration: none;
        color: var(--theme-white);
    }
}