.resource {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #FF981B;
    min-height: 100vh;
    padding: 4rem;


    &__title {
        font-size: 3rem;
        font-family: 'Creepster', cursive;
        font-weight: bold;
        color: #2B2B2B;
        margin-bottom: 4rem;
        animation: bounce 3s ease-in-out infinite; 
    }

    &__image {
        max-width: 100%;
        height: auto;
        margin-bottom: 1.5rem;
        width: 50%;
    }
    
    &__text {
        font-size: 1.2rem;
        color: #2B2B2B;
        max-width: 625px;
        line-height: 1.6;
        margin-top: 2.5rem;
        margin-bottom: 3rem;
    }

    &__img{
        width: 13%;
        transform: translate(462px, 119px);
        position: absolute;
    }
}


@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px); 
    }
}

@media (max-width: 768px) {
    .resource {
        padding: 1rem;
    }

    .resource__title {
        font-size: 2rem;
    }

    .resource__text {
        font-size: 1rem;
    }
}
