@import 'pages/helper', 'pages/index';

:root {
    --theme-black: #2B2B2B;
    --theme-white: #FFFBE8;
    --theme-orange: #FF981B;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    z-index: 0;
}

body {
    font-family: 'Calibri', sans-serif;
}