.helper {
  background-color: #2c2c2c;
  color: #f1c40f;
  padding: 1em;
}
.helper h2 {
  text-align: center;
  margin-bottom: 1em;
  font-size: 2rem;
}
.helper__modifiers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}
.helper__modifiers div {
  display: flex;
  align-items: center;
}
.helper__modifiers div button {
  background-color: #a04000;
  color: #f1c40f;
  border: 2px solid transparent;
  border-radius: 0.25em;
  padding: 0.5em 1em;
  margin: 0 0.5em;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}
.helper__modifiers div button.active {
  background-color: #d35400;
  color: #fff;
  border-color: #ff883a;
}
.helper__modifiers div button:hover {
  background-color: #d35400;
}
.helper__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75em;
  margin: 1em 0;
}
.helper__list__item {
  display: flex;
  align-items: center;
  background-color: #3e3e3e;
  border: 2px solid #d35400;
  border-radius: 0.5em;
  padding: 0.75em;
  width: 100%;
  transition: background-color 0.3s;
  text-decoration: none;
}
.helper__list__item:hover {
  background-color: #313131;
}
.helper__list__item__userpic {
  margin-right: 0.75em;
}
.helper__list__item__userpic img {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
}
.helper__list__item__userinfo {
  flex-grow: 1;
}
.helper__list__item__userinfo strong {
  font-size: 1.2rem;
  color: #d35400;
}
.helper__list__item__userinfo span {
  font-size: 0.9rem;
  color: #ff883a;
}
.helper__list__item__userinfo em {
  font-size: 0.8rem;
  color: #fcf3d0;
}
.helper__list__item__userstats {
  text-align: right;
}
.helper__list__item__userstats div {
  font-size: 0.9rem;
  color: #f9e8a0;
}

.tag {
  display: inline-block;
  background-color: #c0392b;
  border-radius: 0.25em;
  color: #fff;
  padding: 0.25em 0.5em;
  margin: 0.25em;
  font-size: 0.8rem;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
  gap: 0.5em;
}
.pagination button {
  background-color: #a04000;
  color: #f1c40f;
  border: 2px solid transparent;
  border-radius: 0.25em;
  padding: 0.5em 1em;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}
.pagination button:disabled {
  background-color: #542100;
  cursor: not-allowed;
}
.pagination button:hover:not(:disabled) {
  background-color: #d35400;
}
.pagination span {
  font-size: 1rem;
  color: #f1c40f;
}

.index-page {
  background-color: var(--theme-black);
  text-align: center;
  font-size: 18px;
  font-family: Raleway;
}
.index-page__title {
  color: var(--theme-white);
  margin-bottom: 65px;
  font-family: Sancreek;
  font-size: 60px;
}
.index-page__button {
  margin-bottom: 120px;
  padding: 20px 50px;
  border-radius: 12px;
  background: linear-gradient(to bottom, #FF981B 0%, #D57F17 76%, #995B10 100%);
  font-size: 24px;
}
.index-page__image {
  position: absolute;
  z-index: 1;
}
.index-page__image--pumpkin {
  top: -175px;
  right: -300px;
  transform: rotate(25deg);
}
.index-page__image--skullworm {
  top: 125%;
  left: -20%;
}

.challenges-snippet, .resources-snippet {
  position: relative;
  z-index: 2;
  width: 78%;
  margin: 0 auto;
  background: linear-gradient(to bottom, #FF981B 0%, #D57F17 76%, #995B10 100%);
  border-radius: 12px;
  padding: 40px 0;
  margin-bottom: 65px;
}

.challenges-snippet {
  border-collapse: separate;
  border-spacing: 0;
}
.challenges-snippet th, .challenges-snippet td {
  border-bottom: 1px solid #000;
  padding: 35px 8px;
}
.challenges-snippet tr:last-child td {
  border-bottom: none;
}
.challenges-snippet th:first-child, .challenges-snippet td:first-child {
  padding-left: 60px;
}
.challenges-snippet th:last-child, .challenges-snippet td:last-child {
  padding-right: 60px;
}

.resources-snippet {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 5% 65px;
}
.resources-snippet__title {
  max-width: 65%;
  font-family: Creepster;
  font-size: 24px;
  margin: 0 auto;
  margin-bottom: 16px;
}
.resources-snippet__image {
  width: 280px;
  height: 196px;
  margin-bottom: 22px;
  object-fit: cover;
}
.resources-snippet__description {
  max-width: 250px;
  margin: 0 auto;
}

.home-link-container {
  display: flex;
  justify-content: space-around;
}

.home-link {
  width: 486px;
  font-family: Creepster;
  font-size: 60px;
  border-radius: 46px;
  background-color: var(--theme-orange);
  padding: 70px 5%;
  background: linear-gradient(to bottom, #FF981B 0%, #D57F17 76%, #995B10 100%);
  text-align: center;
}
.home-link__title {
  margin-bottom: 45px;
}

:root {
  --theme-black: #2B2B2B;
  --theme-white: #FFFBE8;
  --theme-orange: #FF981B;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  z-index: 0;
}

body {
  font-family: "Calibri", sans-serif;
}

/*# sourceMappingURL=style.css.map */
