@import 'pages/helper', 'pages/index', 'pages/layout/header', 'pages/layout/footer', 'pages/resources';
@import 'pages/challenges';
@import 'pages/challenge';

:root {
    --theme-black: #2B2B2B;
    --theme-white: #FFFBE8;
    --theme-orange: #FF981B;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    z-index: 0;
}

body {
    font-family: 'Calibri', sans-serif;
}