.helper {
  background-color: #FF981B;
  color: #2B2B2B;
  padding: 1em;
}
.helper__modifiers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}
.helper__modifiers div {
  display: flex;
  align-items: center;
}
.helper__modifiers div button {
  background-color: #FFFBE8;
  color: #2B2B2B;
  border: 1px solid #ffc681;
  border-radius: 0.25em;
  padding: 0.5em 1em;
  margin: 0.5em;
  cursor: pointer;
  transition: background-color 0.3s;
}
.helper__modifiers div button.active {
  background-color: white;
  color: #FF981B;
}
.helper__modifiers div button:hover {
  background-color: white;
}
.helper__list {
  display: flex;
  flex-direction: column;
  margin: 1em 0;
  border-radius: 0.5em;
  overflow: hidden;
}
.helper__list__item {
  display: flex;
  align-items: center;
  background-color: #FFFBE8;
  border: 1px solid #ffc681;
  padding: 0.5em;
  width: 100%;
  transition: background-color 0.3s;
  text-decoration: none;
  color: #2B2B2B;
}
.helper__list__item:hover {
  background-color: white;
}
.helper__list__item__userpic {
  margin-right: 0.5em;
}
.helper__list__item__userpic img {
  border-radius: 50%;
  width: 2em;
  height: 2em;
}
.helper__list__item__userinfo {
  flex-grow: 1;
}
.helper__list__item__userinfo strong {
  font-size: 1rem;
  color: #FF981B;
}
.helper__list__item__userinfo span,
.helper__list__item__userinfo em {
  font-size: 0.85rem;
  color: #454545;
}
.helper__list__item__userstats {
  text-align: right;
  font-size: 0.85rem;
  color: #454545;
}

.tag {
  display: inline-block;
  background-color: #FF981B;
  border-radius: 0.25em;
  color: #2B2B2B;
  padding: 0.25em 0.5em;
  margin: 0.25em;
  font-size: 0.75rem;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
  gap: 0.5em;
}
.pagination button {
  background-color: #FFFBE8;
  color: #2B2B2B;
  border: 1px solid #ffc681;
  border-radius: 0.25em;
  padding: 0.5em 1em;
  cursor: pointer;
  transition: background-color 0.3s;
}
.pagination button:disabled {
  background-color: #fff2b5;
  cursor: not-allowed;
}
.pagination button:hover:not(:disabled) {
  background-color: white;
}
.pagination span {
  font-size: 1rem;
  color: #2B2B2B;
}

.help {
  background-color: #FF981B;
  color: #2B2B2B;
  padding: 1em;
}
.help > div {
  border-radius: 0.5em;
  overflow: hidden;
}
.help button {
  background-color: #FFFBE8;
  color: #2B2B2B;
  border: 1px solid #ffc681;
  border-radius: 0.25em;
  padding: 0.5em 1em;
  cursor: pointer;
  transition: background-color 0.3s;
}
.help button:hover {
  background-color: white;
}
.help__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  background-color: #FFFBE8;
  color: #2B2B2B;
  border-bottom: 1px solid #ffc681;
}
.help__header > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
}
.help__header__title {
  font-size: 1.5rem;
  color: #2B2B2B;
  margin: 0;
}
.help__content {
  display: flex;
  padding-top: 1em;
  background-color: #FFFBE8;
}
.help__content__sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFFBE8;
  padding: 0.5em;
  border-radius: 0.5em;
  width: 3em;
  gap: 0.5em;
}
.help__content__sidebar span {
  color: #2B2B2B;
  font-size: 1.1rem;
  text-align: center;
}
.help__content__info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-left: 1em;
}
.help__content__info__user {
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
}
.help__content__info__user__pic > img {
  border-radius: 50%;
  width: 2em;
  height: 2em;
}
.help__content__info__user__name {
  font-size: 1rem;
  color: #2B2B2B;
}
.help__content__info__user__createdat, .help__content__info__user__views {
  font-size: 0.9rem;
  color: #454545;
}
.help__content__info__message {
  font-size: 1rem;
  color: #2B2B2B;
  padding-top: 0.5em;
}

@font-face {
  font-family: "creepster";
  src: url("../assets/font/Creepster/Creepster-Regular.ttf");
}
@font-face {
  font-family: "raleway";
  src: url("../../assets/font/Raleway/static/Raleway-Regular.ttf");
}/*# sourceMappingURL=helper.css.map */