.index-page {
    background-color: var(--theme-black);
    text-align: center;
    font-size: 18px;
    font-family: Raleway;
    &__title {
        color: var(--theme-white);
        margin-bottom: 65px;
        font-family: Sancreek;
        font-size: 60px;
    }
    &__button {
        margin-bottom: 120px;
        padding: 20px 50px;
        border-radius: 12px;
        background: linear-gradient(to bottom, #FF981B 0%, #D57F17 76%, #995B10 100%);
        font-size: 24px;
    }
    &__image {
        position: absolute;
        z-index: 1;
        &--pumpkin {
            top: -175px;
            right: -300px;
            transform: rotate(25deg);
        }
        &--skullworm {
            top: 125%;
            left: -20%;
        }
    }
}

.challenges-snippet, .resources-snippet {
    position: relative;
    z-index: 2;
    width: 78%;
    margin: 0 auto;
    background: linear-gradient(to bottom, #FF981B 0%, #D57F17 76%, #995B10 100%);
    border-radius: 12px;
    padding: 40px 0;
    margin-bottom: 65px;
}

.challenges-snippet {
    border-collapse: separate; 
    border-spacing: 0;
    th, td {
        border-bottom: 1px solid #000;
        padding: 35px 8px;
    }
    tr:last-child td {
        border-bottom: none;
    }
    th:first-child, td:first-child{
        padding-left: 60px;
    } 
    th:last-child, td:last-child {
        padding-right: 60px;
    }
}

.resources-snippet {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 5% 65px;
    &__title {
        max-width: 65%;
        font-family: Creepster;
        font-size: 24px;
        margin: 0 auto;
        margin-bottom: 16px;
    }
    &__image {
        width: 280px;
        height: 196px;
        margin-bottom: 22px;
        object-fit: cover;
    }
    &__description {
        max-width: 250px;
        margin: 0 auto;
    }
}

.home-link-container {
    display: flex;
    justify-content: space-around;
}

.home-link {
    width: 486px;
    font-family: Creepster;
    font-size: 60px;
    border-radius: 46px;
    background-color: var(--theme-orange);
    padding: 70px 5%;
    background: linear-gradient(to bottom, #FF981B 0%, #D57F17 76%, #995B10 100%);
    text-align: center;
    &__title {
        margin-bottom: 45px;
    }
}
