.resources {
    text-align: center;
    background-color: var(--theme-orange);
    &__title {
        font-family: Sancreek;
        font-size: 60px;
        margin-bottom: 70px;
        padding-top: 50px;
    }
}

.resources__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 5%;
    justify-items: center;
    align-items: center;
    &__single {
        margin-bottom: 80px;
        padding: 0 15%;
        text-align: center;
        &__text-container {
            height: 265px;
            transform: translate(0, -5px); // Cubre un espacio entre imagen y div que no sé de donde viene -AA.
            padding: 35px 10% 60px;
            border-bottom-left-radius: 46px;
            border-bottom-right-radius: 46px;
            background-color: var(--theme-black);
            color: var(--theme-white);
        }
    }
    img {
        width: 535px;
        background-color: var(--theme-black);
        border-top-left-radius: 46px;
        border-top-right-radius: 46px;
    }
    h2 {
        max-width: 70%;
        margin: 0 auto;
        margin-bottom: 25px;
        font-family: Creepster;
        font-size: 36px;
    }
    p {
        padding: 0 5%;
        font-family: Raleway;
    }
}